body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:"Inter", sans-serif;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 25px 10px;
    text-align: center;
}

.header h2, .header h6, .header input{
    margin:10px;
}


.header input{
    padding:6px 9px;
    font-weight: 600;
    background-color:white;
    border:none;
    border-radius:10px;
}

.isi {
    display: flex;
    flex: 1 0 30%;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
}

.job-item {
    flex: 1 0 30%; /* Each job item occupies 30% width */
    margin: 10px;
    padding: 15px 20px;;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F3F3F3;
}

    .job-item:hover {
        background-color: #f0f0f0;
    }

.job-title {
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}

.job-description {
    margin-top: 10px;
    justify-content: left;
}

h5{
    font-weight:400;
}

.icon-container {
    display: flex;
}

.viewButton{
    padding:5px 10px;
    font-size:12px;
    background-color:white;
    border: none;;
    border-radius:15px;
}

.image {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.footer {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.footer-text {
    font-size: 12px;
}
