body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job-item {
    flex: 1 0 30%; /* Each job item occupies 30% width */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
}

    .job-item:hover {
        background-color: #f0f0f0;
    }

.job-title {
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}

.job-description {
    margin-top: 10px;
    justify-content: left;
}

.icon-container {
    display: flex;
}

.image {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-size: 12px;
}
